body{
    margin: 0;
    padding: 0;
    font-family: "Nunito",sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 2px 2px;
    align-items: center;
    padding:  1px 10px;
}
.logo{
    width: 200px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 20px;
    float: right;
    padding: 10px 25px;
}
.menu li{
    display: inline-block;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 15px;
}
.contact-us{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 18px;
}
.contact-us:hover{
    background-color: rgba(42, 42, 42, 0.42);
    border-radius: 18px;
}
.home{
    color: black;
    padding: 5px 10px;
    border-radius: 18px;
}
.home:hover{
    background-color: rgba(42, 42, 42, 0.42);
    border-radius: 18px;
}
.container{
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.left-side{
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 30px;
}
.right-side{
    padding-right: 10px;
    margin-right: 10px;

}
.left-side h1{
    font-size: 50px;
}

.left-side h1::after{
    content: " ";
    display: block;
    width: 124px;
    height: 2.5px;
    border-radius: 10px;
    background: rgb(19, 27, 110);
}
.product{
    width: 400px;
}
.btn{
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
}
.icon2{
    position: absolute;
    opacity: 0.08;
    width: 300px;
    top:100px;
    left: 50px;
}

.apple{
    position: absolute;
    width: 400px;
    opacity: 0.09;
    top:100px;
    left: 400px;
}
.content{
    margin: 10px;
    border-top: 1px solid rgb(224, 224, 224);
    height: 100vh;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 100px 60px;
    margin-bottom: 90px;
}
.products{
    border: 1px solid gainsboro;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.594);
}
.products:hover{
    transform: translate(2px,2px);
    box-shadow: 0px 1px 8px gray;

}
.products img{
    cursor: pointer;
    width: 200px;
    height: 200x;
}

.products p{
    padding:10px 30px;
}

.footer{
    background-color: rgb(40, 35, 35);
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.about ul li{
    color: white;
    list-style-type: none;
    padding: 10px 10px;
    padding-right: 50px;
    cursor: pointer;
}
.about ul li:hover{
    color: white;
    background-color: #4f4f4f;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(151, 151, 151);
}
.footer hr{
    margin: 10px 30px;
}
.footer ul span{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(43, 43, 137);
}
.copyright{
    text-align: center;
}